/* div {
  display: flex;
  justify-content: space-around;
  margin-right: 50%;
} 

 label {
  display: flex;
  margin: 10px;
}*/

#mirrorOne {
  border: 5px solid blue;
  min-height: 20px;
  min-width: 200px;
  width: auto;
  height: auto;
}

#mirrorTwo {
  border: 5px solid red;
  min-height: 20px;
  min-width: 200px;
  width: auto;
  height: auto;
}

div {
  display: flex;
  justify-content: space-evenly;
}

label {
  display: flex;
  margin: 15px;
  padding-left: 5px;
}





